<div class="footer">
    <div class="flex-container">
        <div class="item1">
            <img src="assets/imagenes/Escudo.png" style="max-width: 75px; padding-top: 5px;" class="img-responsive">
        </div>
        <div class="item2">  
            {{ 'template.footer.copyright' | translate }}  <br>
            {{ 'template.footer.universidad' | translate }} <br>
            {{ 'template.footer.sistemas' | translate }} <br>
        </div>
        <div class="item3">            
            {{ 'template.footer.siia' | translate }} <br>
            <a class="version">{{ 'template.footer.version' | translate }} </a>
        </div>
    </div>
</div>
